# Dependencies
/node_modules

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Build and distribution files
/dist
/build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
